# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env      # DO NOT COMMIT KEYS
*.log

# Streamlit
.streamlit/secrets.toml

# Local data
uploads/
temp/
*.mp4
*.mkv
*.mov

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
